<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.GMTool"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="19"/>

    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher_rpg">
        <activity android:name=".Activities.MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activities.selectNPCList"
                android:label="NPC Selector"/>
        <activity android:name=".Activities.CreateNpcActivity"/>
        <activity android:name=".Activities.CampaignActivity" android:label="campaign"/>

    </application>
</manifest>
